<h1>
  <%= @user.name %>
</h1>
<h2>Events:</h2>
<ul>
  <% @user.events.each do |event| %>
    <li>
      <p><%= link_to event.description, event %></p>
      <p><%= event.date %></p>
    </li>

  <% end %>
</ul>